<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @mountain, partial: "card", as: :mountain %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "mountains/mountain_climbs" %>
  </div>
</div>
