<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Legends
  </div>

  <ul class="list-group list-group-flush">
    <% @climb.legends.each do |legend| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/legends/<%= legend.id %>">
          <%= legend %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
