<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @climb, partial: "card", as: :climb %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "climbs/climb_first_ascents" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "climbs/climb_comments" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "climbs/climb_interactions" %>
  </div>
</div>
  <!-- Show Page Customization end -->
