<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Ticks

    <a data-toggle="collapse" href="#user_ticks_new_form">
      Add interaction
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.ticks.each do |interaction| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to interaction, interaction %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_ticks_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "users/user_ticks_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
