<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Summits

    <a data-toggle="collapse" href="#user_summits_new_form">
      Add summit
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.summits.each do |summit| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to summit, summit %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_summits_new_form">
        <%= render partial: "users/user_summits_new_form" %>
      </div>
    </div>

  </ul>
</div>
