<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @legend, partial: "card", as: :legend %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "legends/legend_first_ascents" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "legends/legend_climbs" %>
  </div>
</div>
