<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Mountains

    <a data-toggle="collapse" href="#region_mountains_new_form">
      Add mountain
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @region.mountains.each do |mountain| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to mountain, mountain %>

        <%= link_to mountain, method: :delete, data: { confirm: "Do you really want to delete this mountain" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="region_mountains_new_form">
        <%= render partial: "regions/region_mountains_new_form" %>
      </div>
    </div>

  </ul>
</div>
