<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @region, partial: "card", as: :region %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "regions/region_mountains" %>
  </div>
</div>
  <!-- Show Page Customization end -->
